.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  cursor: pointer;
  background: var(--color-grey);
  border: none;
  border-radius: 50%;
}

.button:hover {
  filter: brightness(0.9);
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}

.uncompleted-item__dark-theme {
  color: #fff;
}

.uncompleted-item__light-theme {
  color: #2c3e50;
}

.completed-item__dark-theme {
  text-decoration: line-through;
  color: #5c5a54;
}

.completed-item__light-theme {
  text-decoration: line-through;
  color: #2c3e50;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  accent-color: var(--color-orange);
}
