.no-bullets {
  list-style-type: none;
}

.wrapper {
  display: flex;
  padding: 0 1rem;
}

.tab {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  color: #eb9534;
  cursor: pointer;
}

.selected {
  padding-bottom: 2px;
  border-bottom: 1.5px solid;
  font-weight: 600;
}

.light-theme {
  border-bottom-color: #5c5a54;
}

.dark-theme {
  border-bottom-color: #faf9f5;
}
