.no-bullets {
  list-style-type: none;
}

.wrapper {
  display: flex;
  padding: 0 1rem;
}

.tab {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  color: var(--color-orange);
  cursor: pointer;
  opacity: 0.8;
}

.selected {
  padding-bottom: 2px;
  border-bottom: 1.5px solid;
}

.tab:hover,
.tab.selected {
  opacity: 1;
}

.light-theme {
  border-bottom-color: var(--color-grey);
}

.dark-theme {
  border-bottom-color: #faf9f5;
}
