.bottom {
  padding: 1rem 1.5rem;
  background-color: #15173b;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.button-input-wrapper {
  display: flex;
  height: 3rem;
}

.add-button {
  padding: 0 1rem;
  background-color: #eb9534;
  color: #ffffff;
  height: 100%;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.add-input {
  padding: 0 1rem;
  flex-grow: 10;
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  font-size: 1.275rem;
  height: 100%;
}

.add-input:focus {
  outline: none;
}
