.button {
  padding: 0 1rem;
  cursor: pointer;
  background: transparent;
  border: none;
}

.icon-sun {
  fill: #ffffff;
  width: 1.25rem;
  height: auto;
}

.icon-moon {
  fill: #5c5a54;
  width: 1.25rem;
  height: auto;
}
