.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px gray solid;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.light-theme {
  background-color: var(--side-bg-color__light);
}

.dark-theme {
  background-color: var(--side-bg-color__dark);
}
